// Colors
$darkBlue: hsl(233, 27%, 57%);
$transparentBlue: hsla(233, 27%, 57%, 0.178);
$darkGreen: hsl(139, 27%, 57%);

$sky: (#CAEBF2);
$carbon: (#A9A9A9);
$screengray: (#F5F5F5);
$blackboard-transparent: (#56565642);
$blackboard: (#565656);
$watermelon: (#FF3B3F);
$neutral: (#EFEFEF);
$backwhite: (#FCFCFC);
$coolorange: rgb(255, 183, 49);


$bg: #fff;
$text: #382b22;
$light-pink: #fff0f0;
$pink: #ffe9e9;
$dark-pink: #f9c4d2;
$pink-border: #b18597;
$pink-shadow: #ffe3e2;

$light-blue: #f1f0ff;
$blue: #eae9ff;
$dark-blue: #cbc4f9;
$blue-border: #8e85b1;
$blue-shadow: #e4e2ff;

$light-yellow: #fefff0;
$yellow: #fffee9;
$dark-yellow: #f9f8c4;
$yellow-border: #afb185;
$yellow-shadow: #ffffe2;

$light-green: #f0fff3;
$green: #e9ffec;
$dark-green: #c4f9d3;
$green-border: #afafaf;
$green-shadow: #e2ffe7;

$light-grey: #f7f7f7;
$grey: #f0f0f0;
$dark-grey: #f9f9f9;
$grey-border: #ababab;
$grey-shadow: #fbfbfb;


// Font Sizes
$font-norm: 1.0rem;
$font-med: 1.125rem; //18px
$font-sm: 0.7rem;