{% extends "layout.html" %}
{% block content %}
<div class="about_section">

    <h1 class="has-darkmode darkmode">Terms of Service</h1>
    <div class="has-darkmode darkmode">

        <p>
            These Terms of Service (“Terms”) describe our commitments to you, and your rights and responsibilities when
            using our services. Please read them carefully and reach out to us if you have any questions. If you do not
            agree to these Terms, do not use our services.
        </p>
        <p>
            If you are a user in countries located in the European Economic Area, Switzerland, or the United Kingdom
            (“European User”), some special terms apply to you as mentioned below.
        </p>
        <h2>Terms of Service</h2>
        <p>
            These Terms govern your access to and use of the products and services we provide through or for
            yocosmos.com (collectively, “Services”).
        </p>
        <p>
            These Terms also govern visitors' access to and use of any websites that use our Services. Please note
            though that the operators of those websites may also have their own separate terms of use.
        </p>
        <p>
            Please read these Terms carefully before accessing or using our Services. By accessing or using any part of
            our Services, you agree to be bound by all of the Terms and all other operating rules, policies, and
            procedures that we may publish via the Services from time to time (collectively, the “Agreement”). You also
            agree that we may automatically change, update, or add on to our Services as stated in the Terms, and the
            Agreement will apply to any changes.
        </p>
        <p>
            1. Who's Who
        </p>
        <p>
            “You” means any individual or entity using our Services. If you use our Services on behalf of another person
            or entity, you represent and warrant that you are authorized to accept the Agreement on that person's or
            entity's behalf, that by using our Services you are accepting the Agreement on behalf of that person or
            entity, and that if you, or that person or entity, violates the Agreement, you and that person or entity
            agree to be responsible to us.
        </p>
        <p>
            Please see below to determine which entity your Agreement is with, which depends on where you reside and
            which Services you use. We use the term “Designated Countries” to refer to Australia, Canada, Japan, Mexico,
            New Zealand, Russia, and all countries located in Europe.
        </p>
        <p>
            All Services
        </p>
        <p>
            If you reside outside of the Designated Countries: CS27
        </p>
        <p>
            If you reside in the Designated Countries: CS27
        </p>
        <p>
            2. Minimum Age Requirements
        </p>
        <p>
            Our Services are not directed to children. You're not allowed to access or use our Services if you're under
            the age of 13 (or 16 in Europe). If you register as a user or otherwise use our Services, you represent that
            you're at least 13 (or 16 in Europe). You may use our Services only if you can legally form a binding
            contract with us. In other words, if you're under 18 years of age (or the legal age of majority where you
            live), you can only use our Services under the supervision of a parent or legal guardian who agrees to the
            Agreement.
        </p>
        <p>
            3. Responsibility of Visitors and Users
        </p>
        <p>
            You're solely responsible and liable for any material that you post on yocosmos.com. We're not liable for
            any acts or omissions by you, including any damages of any kind incurred as a result of your acts or
            omissions. If you get fired because of a post you write about your boss, that's on you.
        </p>
        <p>
            We haven't reviewed, and can't review, all of the content (like text, photo, video, audio, code, computer
            software, items for sale, and other materials) posted to or made available through our Services by users or
            anyone else (“Content”) or on websites that link to, or are linked from, our Services. We're not responsible
            for any use or effects of Content or third-party websites. So, for example:
        </p>
        <p>
            We don't have any control over third-party websites.
            A link to or from one of our Services does not represent or imply that we endorse any third-party website.
            We don't endorse any Content or represent that Content is accurate, useful, or not harmful. Content could be
            offensive, indecent, or objectionable; include technical inaccuracies, typographical mistakes, or other
            errors; or violate or infringe the privacy, publicity rights, intellectual property rights, or other
            proprietary rights of third parties.
        </p>
        <p>
            You're fully responsible for the Content that you post on yocosmos.com, and any harm resulting from that
            Content. It's your responsibility to ensure that your Content abides by applicable laws and by the
            Agreement. We aren't responsible for any harm resulting from anyone's access, use, purchase, or downloading
            of Content, or for any harm resulting from third-party websites. You're responsible for taking the necessary
            precautions to protect yourself and your computer systems from viruses, worms, Trojan horses, and other
            harmful or destructive content.
        </p>
        <p>
            Any Content that's for sale through any of our Services is the seller's sole responsibility, so you must
            look solely to the seller for any damages that result from your purchase or use of Content. We are not a
            party to, and will have no responsibility or liability for, any communications, transactions, interactions,
            or disputes between you and the provider of any Content. Please note that additional third-party terms and
            conditions may apply to Content you download, copy, purchase, or use.
        </p>
        <p>
            4. Feedback
        </p>
        <p>
            We love hearing from you and are always looking to improve our Services. When you share comments, ideas, or
            feedback with us, you agree that we're free to use them without any restriction or compensation to you.
        </p>
        <p>
            5. General Representation and Warranty
        </p>
        <p>
            Our mission is to make the web a better place. We encourage you to express yourself freely, subject to a few
            requirements. In particular, you represent and warrant that your use of our Services:
        </p>

        <p>
        <ul>
            <li>Will be in strict accordance with the Agreement;</li>
            <li>Will comply with all applicable laws and regulations (including, without limitation, all applicable laws
                regarding online conduct and acceptable content, privacy, data protection, the transmission of technical
                data
                exported from the United States or the country in which you reside, the use or provision of financial
                services,
                notification and consumer protection, unfair competition, and false advertising);</li>
            <li>Will not be for any unlawful purposes, to publish illegal content, or in furtherance of illegal
                activities;</li>
            <li>Will not infringe or misappropriate the intellectual property rights of CS27 or any third party;</li>
            <li>Will not overburden or interfere with our systems or impose an unreasonable or disproportionately large
                load on our infrastructure, as determined by us in our sole discretion;</li>
            <li>Will not disclose the personal information of others;</li>
            <li>Will not be used to send spam or bulk unsolicited messages;</li>
            <li>Will not interfere with, disrupt, or attack any service or network;</li>
            <li>Will not be used to create, distribute, or enable material that is, facilitates, or operates in
                conjunction with, malware, spyware, adware, or other malicious programs or code;</li>
            <li> Will not involve reverse engineering, decompiling, disassembling, deciphering, or otherwise attempting
                to derive the source code for the Services or any related technology that is not open source;</li>
            <li>
                and Will not involve renting, leasing, loaning, selling, or reselling the Services or related data
                without our consent.
            </li>
        </ul>
        </p>
        <p>
            6. Specific Service Terms
        </p>
        <p>
            a. yocosmos.com
        </p>
        <p>
            License. By uploading or sharing Content, you grant us a worldwide, royalty-free, transferable,
            sub-licensable, and non-exclusive license to use, reproduce, modify, distribute, adapt, publicly display,
            and publish the Content solely for the purpose of providing and improving our products and Services and
            promoting your website. This license also allows us to make any publicly-posted Content available to select
            third parties so that these third parties can analyze and distribute (but not publicly display) the Content
            through their services.
        </p>
        <p>
            Web Traffic. We may use a third-party service to measure yocosmos.com's audience and usage.
        </p>
        <p>
            7. Copyright Policy
        </p>
        <p>
            As we ask others to respect our intellectual property rights, we respect the intellectual property rights of
            others. If you believe any Content violates your copyright, please see our Copyright Policy and send us a
            notice.
        </p>
        <p>
            8. Intellectual Property
        </p>
        <p>
            The Agreement doesn't transfer any CS27 or third-party intellectual property to you, and all right, title,
            andinterest in and to such property remains (as between CS27 and you) solely with CS27. CS27, yocosmos.com,
            and all other trademarks, service marks, graphics, and logos used in connection with our websites or
            Services are trademarks or registered trademarks of CS27 (or CS27's licensors). Other trademarks, service
            marks, graphics, and logos used in connection with our Services may be the trademarks of other third
            parties. Using our Services doesn't grant you any right or license to reproduce or otherwise use any CS27 or
            third-party trademarks.
        </p>
        <p>
            9. Changes
        </p>
        <p>
            We may modify the Terms from time to time, for example, to reflect changes to our Services (e.g., adding new
            features or benefits to our Services or retiring certain features of certain Services) or for legal,
            regulatory, or security reasons. If we do this, we'll provide notice of the changes, such as by posting the
            amended Terms and updating the “Last Updated” date or, if the changes, in our sole discretion, are material,
            we may notify you through our Services or other communications. Any changes will apply on a going-forward
            basis, and, unless we say otherwise, the amended Terms will be effective immediately. By continuing to use
            our Services after we've notified you, you agree to be bound by the new Terms. You have the right to object
            to any changes at any time by ceasing your use of our Services and may cancel any subscription you have.
        </p>
        <p>
            10. Termination
        </p>
        <p>
            We may terminate your access to all or any part of our Services at any time, with or without cause or
            notice, effective immediately, including if we believe, in our sole discretion, that you have violated this
            Agreement, any service guidelines, or other applicable terms. We have the right (though not the obligation)
            to (i) refuse or remove any content that, in our reasonable opinion, violates any part of this Agreement or
            any CS27 policy, or is in any way harmful or objectionable, or (ii) terminate or deny access to and use of
            any of our Services to any individual or entity for any reason.
        </p>
        <p>
            You can stop using our Services at any time, or, if you use a Paid Service, you can cancel at any time,
            subject to the Fees, Payment, and Renewal section of these Terms.
        </p>
        <p>
            11. Disclaimers
        </p>
        <p>
            Our Services are provided “as is.” CS27 and its suppliers and licensors hereby disclaim all warranties of
            any kind, express or implied, to the maximum extent allowed by applicable law, including, without
            limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement.
            Neither [INC, nor its suppliers and licensors, makes any warranty that our Services will be error free or
            that access thereto will be continuous or uninterrupted. If you're reading this, here's a treat. You
            understand that you download from, or otherwise obtain content or services through, our Services at your own
            discretion and risk.
        </p>
        <p>
            12. Jurisdiction and Applicable Law.
        </p>
        <p>
            Except to the extent any applicable law provides otherwise, the Agreement and any access to or use of our
            Services will be governed by the laws of the state of California, U.S.A., excluding its conflict of law
            provisions and the application of the United Nations Convention of Contracts for the International Sale of
            Goods, and the proper venue for any disputes arising out of or relating to the Agreement and any access to
            or use of our Services will be the state and federal courts located in San Francisco County, California,
            U.S.A. Nothing in this Agreement affects your rights as a consumer to rely on mandatory provisions in your
            country of residence.
        </p>
        <p>
            13. Limitation of Liability
        </p>
        <p>
            In no event will CS27, or its suppliers, partners, or licensors, be liable (including for any third-party
            products or services purchased or used through our Services) with respect to any subject matter of the
            Agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any
            special, incidental or consequential damages; (ii) the cost of procurement for substitute products or
            services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed
            $50 or the fees paid by you to CS27 under the Agreement during the twelve (12) month period prior to the
            cause of action, whichever is greater. CS27 shall have no liability for any failure or delay due to matters
            beyond its reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.
        </p>
        <p>
            European Users: If we cause damage to you and you are a consumer in Europe, we limit our liability to the
            maximum amount permissible in your country of residence. Liability will be limited to foreseeable damages
            arising due to a breach of material contractual obligations typical for this type of contract. CS27 isn't
            liable for damages that result from a non-material breach of any other applicable duty of care. This
            limitation of liability will not apply to any statutory liability that cannot be limited, to liability for
            death or personal injury caused by our negligence, liability caused by our willful misconduct or gross
            negligence, or our responsibility for something we have specifically promised to you. You and we agree that
            we and our affiliates' total liability is limited to the greater of $50 or the amount paid by you to use our
            Services during the 12 months preceding the claim; To the extent that our liability is limited or excluded,
            the limitations or exclusions will also apply to the personal liability of our employees, legal
            representatives, and vicarious agents.
        </p>
        <p>
            14. Indemnification
        </p>
        <p>
            You agree to indemnify and hold harmless CS27, its contractors, and its licensors, and their respective
            directors, officers, employees, and agents from and against any and all losses, liabilities, demands,
            damages, costs, claims, and expenses, including attorneys' fees, arising out of or related to your use of
            our Services, including but not limited to your violation of the Agreement or any agreement with a provider
            of third-party services used in connection with the Services, Content that you post, and any ecommerce
            activities conducted through your or another user's website.
        </p>
        <p>
            15. Translation
        </p>
        <p>
            These Terms were originally written in English (US). We may translate these terms into other languages, and
            in the event of a conflict between a translated version of these Terms and the English version, the English
            version will control.
        </p>
        <p>
            16. Miscellaneous
        </p>
        <p>
            The Agreement (together with any other terms we provide that apply to any specific Service) constitutes the
            entire agreement between CS27 and you concerning our Services. If any part of the Agreement is unlawful,
            void, or unenforceable, that part is severable from the Agreement, and does not affect the validity or
            enforceability of the rest of the Agreement. A waiver by either party of any term or condition of the
            Agreement or any breach thereof, in any one instance, will not waive such term or condition or any
            subsequent breach thereof.
        </p>
        <p>
            CS27 may assign its rights under the Agreement without condition. You may only assign your rights under the
            Agreement with our prior written consent.
        </p>

    </div>

</div>
{% endblock content %}